@import url("style.scss");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

body, html {

  font-family: sans-serif;

  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFF59E; 
}
